Project/
Downloads
gitBackup
SoftWare
XianDao
Data
**/.git/
**/.github/
.oh-my-zsh
.pycharm_helpers/
.vscode*
vscode*
.config/TabNine/
.config/JetBrains
.cache/
.local/
.nv/
.vim
.bash_history
.sudo*
.att*
.zc*
.z.*
Project/
.conda
.w3m
.rainbarf.dat
.selected_editor
.lesshst
.spack
**/.keras
**/.vscode
**/.vscode-insiders
.opennre
.jupyter
.java
*python
.rpmdb
intel
devcloudConnectorLogFile.txt
.intel/
.triton/
.modelscope/
.rpmdb/
.dotnet