ASCpro/
download
hpl
gitBackup
software
XianDao
**/.git/
**/.github/
.oh-my-zsh
.pycharm_helpers/
.vscode-server/
.vscode-server-insiders/
.config/TabNine/
.config/JetBrains
.cache/
.local/
.nv/
.vim
.bash_history
.zc*
.z.*
Project/
.conda
.w3m
.rainbarf.dat
.selected_editor
.lesshst
.spack
.keras
